<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-center ion-justify-content-center fill background">
    <ion-col sizeSm="12" sizeMd="4">
      <ion-card *ngIf="isSignIn">
        <ion-card-header>
          <ion-card-title color="primary">Login</ion-card-title>
          <ion-card-subtitle color="secondary">Provide your details to continue</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="doSignIn()">
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="mail" formControlName="mail"></ion-input>
            </ion-item>
            <ion-row class="error-message">
              <ion-col>
                <ion-row *ngIf="loginForm.controls.mail.errors?.required&&loginForm.controls.mail.touched"
                  color="danger">It is required to enter the E-Mail ID</ion-row>
                <ion-row *ngIf="loginForm.controls.mail.errors?.pattern&&loginForm.controls.mail.touched"
                  color="danger">Please enter a valid E-Mail ID</ion-row>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-row class="error-message">
              <ion-col>
                <ion-row *ngIf="loginForm.controls.password.errors?.required&&loginForm.controls.password.touched"
                  color="danger">It is required to enter the Password</ion-row>
                <ion-row *ngIf="loginForm.controls.password.errors?.pattern&&loginForm.controls.password.touched"
                  color="danger">Password should have character,number,alpha and should have 8 characters</ion-row>
              </ion-col>
            </ion-row>
            <ion-button routerLink="/shopify/shop" type="submit" class="ion-margin-top">
              <ion-label>Sign-In</ion-label>
            </ion-button>
          </form>
          <ion-row class="ion-justify-content-end">
            <ion-button size="small" class="ion-no-padding" (click)="toggleSignIn()" fill="clear">
              <ion-label color="primary" class="ion-text-capitalize">Don't have an account yet?</ion-label>
            </ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="!isSignIn">
        <ion-card-header>
          <ion-card-title color="primary">Sign Up</ion-card-title>
          <ion-card-subtitle color="secondary">Provide the following details to create account</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="signupForm" (ngSubmit)="doSignup()">
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="mail" formControlName="mail"></ion-input>
            </ion-item>
            <ion-row class="error-message">
              <ion-col>
                <ion-row *ngIf="signupForm.controls.mail.errors?.required&&signupForm.controls.mail.touched"
                  color="danger">It is required to enter the E-Mail ID</ion-row>
                <ion-row *ngIf="signupForm.controls.mail.errors?.email&&signupForm.controls.mail.touched"
                  color="danger">Please enter a valid E-Mail ID</ion-row>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-row class="error-message">
              <ion-col>
                <ion-row *ngIf="signupForm.controls.name.errors?.required&&signupForm.controls.name.touched"
                  color="danger">It is required to enter the Name</ion-row>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-row class="error-message">
              <ion-col>
                <ion-row *ngIf="signupForm.controls.password.errors?.required&&signupForm.controls.password.touched"
                  color="danger">It is required to enter the Password</ion-row>
                <ion-row *ngIf="signupForm.controls.password.errors?.pattern&&signupForm.controls.password.touched"
                  color="danger">Password should have character,number,alpha and should have 8 characters</ion-row>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input type="password" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <ion-row class="error-message">
              <ion-col>
                <ion-row *ngIf="signupForm.controls.confirmPassword.errors?.required&&signupForm.controls.confirmPassword.touched"
                  color="danger">It is required to enter the Confirm Password</ion-row>
                <ion-row *ngIf="signupForm.controls.confirmPassword.errors?.confirmedValidator&&signupForm.controls.confirmPassword.touched"
                  color="danger">Password and Confirm Password should match</ion-row>
              </ion-col>
            </ion-row>
            <ion-button [disabled]="!signupForm.valid" type="submit"  class="ion-margin-top">
              <ion-label>Sign-Up</ion-label>
            </ion-button>
          </form>
          <ion-row class="ion-justify-content-end">
            <ion-button size="small" class="ion-no-padding" fill="clear" (click)="toggleSignIn()">
              <ion-label color="primary" class="ion-text-capitalize">Already have an account?</ion-label>
            </ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
