<ion-card>
  <ion-card-header class="ion-no-padding">
    <img
      [src]="product?.image" />
  </ion-card-header>
  <ion-card-content class="ion-padding">
    <ion-row class="ion-padding-vertical">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-card-title>{{product?.name}}</ion-card-title>
        <ion-card-subtitle>
          <ion-col class="ion-no-margin ion-no-padding">
            <ion-row>
              <ion-label>Cost : {{product?.price}}$</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="pointer" [title]="product?.description">Description : {{product?.description}}</ion-label>
            </ion-row>
            <ion-row *ngIf="mode!=='shop'&&mode!=='admin'&&mode!=='favorites'">
              <ion-label>Quantity : {{quantity}}</ion-label>
            </ion-row>
            <ion-row *ngIf="mode==='cart'">
              <ion-label>Total Price : {{product?.price}}$ * {{quantity}} = {{product?.price*quantity}}$</ion-label>
            </ion-row>
          </ion-col>
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <!-- shop and favorites -->
      <ion-button size="small"  fill="clear" *ngIf="mode==='shop'" (click)="addToCart()">
        <ion-icon name="cart" slot="start"></ion-icon>
        <ion-label  class="ion-text-capitalize">Add to Cart</ion-label>
      </ion-button>
      <ion-button size="small"  fill="clear" *ngIf="mode==='favorites'" (click)="addToCartFromFavorites()">
        <ion-icon name="cart" slot="start"></ion-icon>
        <ion-label  class="ion-text-capitalize">Add to Cart</ion-label>
      </ion-button>
      <ion-button size="small"  fill="clear" *ngIf="mode==='shop'" (click)="addToFavorites()">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Favorite</ion-label>
      </ion-button>
      <ion-button size="small"  fill="clear" *ngIf="mode==='favorites'" (click)="removeFromFavorites()">
        <ion-icon name="heart-dislike" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Un-Favorite</ion-label>
      </ion-button>
      <!-- admin -->
      <ion-button size="small"  fill="clear" *ngIf="mode==='admin'" id="updateProduct" (click)="updateProduct()">
        <ion-icon name="create" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Edit</ion-label>
      </ion-button>
      <ion-button size="small"  fill="clear" *ngIf="mode==='admin'" (click)="deleteProduct()">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Remove</ion-label>
      </ion-button>
      <!-- cart and orders -->
      <ion-button size="small" fill="clear" *ngIf="mode==='cart'" (click)="removeFromCart()">
        <ion-icon name="close" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Remove</ion-label>
      </ion-button>
    </ion-row>
  </ion-card-content>
</ion-card>

