<ion-card>
  <ion-card-header class="ion-no-padding">
    <img
      [src]="product.image" />
  </ion-card-header>
  <ion-card-content class="ion-padding">
    <ion-row class="ion-padding-vertical">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-card-title>{{product.name}}</ion-card-title>
        <ion-card-subtitle>
          <ion-col class="ion-no-margin ion-no-padding">
            <ion-row>
              <ion-label>Cost : {{product.price}}$</ion-label>
            </ion-row>
            <ion-row *ngIf="mode!=='shop'">
              <ion-label>Quantity : {{quantity}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between" *ngIf="mode==='admin'">
      <ion-button size="small" color="warning" id="editProduct" (click)="updateProduct()">
        <ion-icon name="create" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Edit</ion-label>
      </ion-button>
      <ion-button size="small" color="danger" (click)="deleteProduct()">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Delete</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-between" *ngIf="mode==='favorites'">
      <ion-button size="small" color="primary">
        <ion-icon name="add" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Add</ion-label>
      </ion-button>
      <ion-button size="small" color="tertiary">
        <ion-icon name="remove" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Remove</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-between" *ngIf="mode==='shop'">
      <ion-button size="small" color="primary">
        <ion-icon name="cart" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Cart</ion-label>
      </ion-button>
      <ion-button size="small" color="tertiary">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Favorites</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-between" *ngIf="mode==='orders'">
      <ion-button size="small" color="primary">
        <ion-icon name="repeat" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Re-Order</ion-label>
      </ion-button>
      <ion-button size="small" color="tertiary" (click)="cancelOrder()">
        <ion-icon name="close" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Cancel Order</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-between" *ngIf="mode==='cart'">
      <ion-button size="small" color="primary">
        <ion-icon name="cube" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Order</ion-label>
      </ion-button>
      <ion-button size="small" color="tertiary">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label class="ion-text-capitalize">Delete</ion-label>
      </ion-button>
    </ion-row>
  </ion-card-content>
</ion-card>


<ion-modal id="productModal" #modal trigger="editProduct" class="productModal">
  <ng-template>
    <app-update-product></app-update-product>
  </ng-template>
</ion-modal>
