<ion-card>
  <ion-card-header class="ion-no-padding">
    <img
      [src]="product.image" />
  </ion-card-header>
  <ion-card-content class="ion-padding">
    <ion-row class="ion-padding-vertical">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-card-title>{{product.name}}</ion-card-title>
        <ion-card-subtitle>
          <ion-col class="ion-no-margin ion-no-padding">
            <ion-row>
              <ion-label>Cost : {{product.price}}$</ion-label>
            </ion-row>
            <ion-row *ngIf="mode!=='shop'">
              <ion-label>Quantity : {{quantity}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-buttons>
      <!-- shop and favorites -->
      <ion-button *ngIf="mode==='shop'||mode==='favorites'">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="mode==='shop'||mode==='favorites'">
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- admin -->
      <ion-button *ngIf="mode==='admin'">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="mode==='admin'">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- cart and orders -->
      <ion-button *ngIf="mode==='cart'||mode==='orders'">
        <ion-icon name="cube" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="mode==='cart'||mode==='orders'">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>


<ion-modal id="productModal" #modal trigger="editProduct" class="productModal">
  <ng-template>
    <app-update-product></app-update-product>
  </ng-template>
</ion-modal>
