ion-img,.cover{
  width:300px;
  height: 250px;
}

#image-container{
  position: relative;
  & .cover{
    position: absolute;
    top: 0%;
    left: 0%;
    border: dashed;
    background: var(--ion-color-primary-contrast);
  }
  & .ionText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
